@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

:root {
    --primary : #1a253f;
    --dark : #151A33;
    --secondary : #2b55cc;
    --info : #4d79f6;
    --ternary : #848db3;
    --pure : #eff2f9;
    --fade : #7081b9;
    --mild : #8997bd;
    --footer : #212A4A;
    --black:#060b1b;
    --twitter: #4ac7ec;
    --dribbble : #ff5da0;
    --success : #1ecab8;
    --danger : #f1646c;
    --dark-blue : #28365f;
    --dark-gray: #171f33;
    --yellow: #f3c74d;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background: var(--dark);
    -webkit-font-smoothing: antialiased;
    padding-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
    line-height: 1;
}

h4 {
    color: var(--secondary);
}
small {
    color: var(--mild);
}

.container {
    max-width:1140px;
    margin:0 auto;
}

nav {
    background: var(--primary);
    padding:1.6rem 0;
}
nav .inner {
    display:flex;
    align-items: center;
    justify-content: space-between;
}
nav .inner .logo {
    text-transform: uppercase;
    color: var(--pure);
    font-size:18px;
    letter-spacing: 1px;
    font-weight:500;
}

nav .inner .logo i {
    color: var(--info);
}

nav .inner button {
    background: var(--secondary);
    border: none;
    padding:0.6rem 1rem;
    color:var(--pure);
    font-size:14px;
    border-radius: 4px;

}

section.profile {
    background: var(--black);
    display:flex;
    align-items: center;
    padding:3rem;
    margin-top: 60px;
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%); */
    padding-bottom:4rem;
}
section.profile .left {
    flex:2;
    display:flex;
    align-items: center;
}
section.profile .right {
    flex:1;
}
section.profile .left h2 {
    color: var(--fade);
    font-size:24px;
    font-weight: 600;
    margin-bottom:1rem;
}

section.profile .left p {
    color: var(--mild);
    font-size:14px;
}
section.profile .left .cd-headline.loading-bar .cd-words-wrapper::after {
    background: linear-gradient(to right, var(--secondary), var(--success));
}

section.profile .left p b {
    padding-bottom:1rem;
    font-weight: 400;
}

section.profile .left img {
    width:128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

section.profile .left .avatar__block {
    position: relative;
    margin-right: 2rem;
}
section.profile .left .avatar__block span {
    position:absolute;
    right:4px;
    bottom:4px;
    background: var(--info);
    width:32px;
    height:32px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: var(--pure);
    box-shadow : 0px 0px 20px 0px rgba(32, 41, 54, 0.05);
    cursor:pointer;
}

section.profile .right ul.contact {
    list-style-type: none;
    margin-bottom: 1.6rem;
}

section.profile .right ul.contact li {
    color: var(--ternary);
    margin-bottom: .7rem;
    font-size:14px;
}
section.profile .right ul.contact li i {
    font-size: 18px;
    margin-right:0.3rem;
}

section.profile .right ul.socials {
    display:flex;
    align-items: center;
    list-style-type: none;
}

section.profile .right ul.socials li {
    margin-right: 0.8rem;
}

section.profile .right ul.socials li a {
    display:inline-block;
    width:36px;
    height:36px;
    border-radius: 50%;
    color:var(--pure);
    line-height:36px;
    text-align:center;
}

section.profile .right ul.socials li:nth-child(1) a {
    background:var(--secondary);
}

section.profile .right ul.socials li:nth-child(2) a {
    background:var(--twitter);
}

section.profile .right ul.socials li:nth-child(3) a {
    background:var(--dribbble);
}

section.about {
    background: var(--black);
    /* display:flex; */
    align-items: center;
    padding:3rem;
    margin-top: 60px;
    padding-bottom:4rem;
}

section.education-experience {
    background: var(--black);
    /* display:flex; */
    align-items: center;
    padding:3rem;
    margin-top: 60px;
    padding-bottom:4rem;
}

.edu-exp-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.heading {
    margin-bottom: 2rem;
}

.heading i {
    color: var(--fade);
    font-size: 45px;
}

.heading i:hover {
    color: var(--info);
}

.heading h5 {
    font-size: 16px;
    color: var(--mild);
}

.schools h5, .jobs h5, .tasks h5, .awards h5 {
    color: var(--fade);
    font-size: 15px;
    margin-bottom: 4px;
}

.schools p, .jobs p, .tasks p, .awards p, .about p {
    color: var(--ternary);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: .1px;
}

.items {
    position: relative;
    margin-top: 12px;
    margin-left: 15px;
}

.schools, .jobs {
    border-left: 2px dotted var(--fade);
}
h5::before {
    content: '';
    position:absolute;
    left: 0;
    top: 2px;
    width: 6px;
    height: 6px;
    border: 2px solid var(--info);
    border-radius: 25px;
    margin-left: -19px;
}

section.project-skill {
    background: var(--black);
    align-items: center;
    padding:3rem;
    margin-top: 60px;
    padding-bottom:4rem;
}

.project-skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.achievement {
    background: var(--black);
    align-items: center;
    padding:3rem;
    margin-top: 60px;
    padding-bottom:4rem;
}
section.count-up {
    background: var(--black);
    align-items: center;
    /* display:flex; */
    padding:3rem;
    margin-top: 60px;
    padding-bottom:4rem;
}
.count-up-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.count {
    display: flex;
    align-items: center;
}

.count i {
    font-size: 40px;
    margin-right: 5px;
}

.count span:hover {
    color: red;
}

.count:nth-child(1) i {
    color: var(--yellow);
}

.count:nth-child(2) i {
    color: var(--success);
}

.count:nth-child(3) i {
    color: var(--info);
}

.count:nth-child(4) i {
    color: var(--dribbble);
}
.count h3 {
    font-size: 25px;
    font-weight: 600;
    color: var(--fade);
    margin-bottom: 8px;
}

.count h5 {
    font-size: 15px;
    color: var(--pure);
}
section.online-judge-handle {
    background: var(--black);
    align-items: center;
    /* display:flex; */
    padding:3rem;
    margin-top: 60px;
    padding-bottom:4rem;
}
.oj-handle-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
section.contact {
    background: var(--black);
    align-items: center;
    /* display:flex; */
    padding:3rem;
    margin-top: 60px;
    padding-bottom:4rem;
}
.contact-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 50px;
    align-items: center;
}

.way {
    margin-top: 20px;
    display: flex;
    align-items: center;   
    margin-bottom: 15px;
}

.way h4 {
    color: var(--mild);
    margin-bottom: 5px;
}

.way span {
    font-size: 15px;
    color: var(--fade);
}

.way i {
    color: var(--info);
    margin-right: 10px;
    font-size: 25px;
}

.name-email {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    margin-bottom: 10px;
}

.name-email div, .say div {
    display: flex;
    flex-direction: column;
}

.name-email label, .say label {
    color: var(--ternary);
    margin-bottom: 5px;
}

.name-email input, .say textarea {
    padding: 5px;
    background-color: transparent;
    border: 2px solid var(--mild);
    color: var(--fade);
}

.send button {
    background-color: var(--info);
    color: var(--pure);
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding: .5rem 2rem;
    margin-top: 6px;
    transition: all .3s ease-in-out;
}

.send button:hover, .inner button:hover {
    background: var(--secondary);
}

footer {
    color: var(--fade);
    background-color: var(--footer);
    text-align: center;
    padding: .5rem;
}

@media (max-width: 800px ) {
    section.profile {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .edu-exp-container, .project-skill-container, .count-up-container, .oj-handle-container, .contact-container, .name-email {
        display: block;
    }

    .education, .project, .count, .handle, .information {
        margin-bottom: 50px;
    }
}

@media (max-width: 500px ) {
    .profile .left {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .inner {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        margin-bottom: 50px;
    }
}